.main {
    background-color: #2F4858;
}

.main_container {
    padding: 0rem 1.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    width: calc(100% - 3rem);
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_container div input {
    width: 48%;
}

.main_container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.last_row {
    display: flex;
    justify-content: space-between;
}

.last_row button {
    width: 30%;
    cursor: pointer;
}