main {
    display: flex;
    background-color: #2F4858;
    height: 100%;
    padding: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mainRow {
    display: flex;
    gap: 2rem;
}

.mainRow input {
    flex: 3;
}

.mainRow button {
    flex: 1;
    cursor: pointer;
}